#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: CC0000;
}

.type-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  background-color: #c4bebb;
  padding-top: 1rem;
  border-radius: 1em;
}
.type-card > img {
  max-width: 80%;
}
.type-card {
  color: black;
}
